{% extends "layout.html" %}

{% block content %}
<main id="indexmain">
    <div id="beRemembereddiv">
      <h3>Be Remembered!</h3>
    </div>
    <div id="descriptiondiv">
      <h4>A lot of the families we serve feel that our caring staff has become an extension of their family during their time of great need. We love being a part of this community we serve.

        Join us for your memorable events. We are your partners in celebrating life! Check back often to keep up with community gatherings or services.</h4>
    </div>
</main>
{% endblock %}